{% extends 'base/base.html' %}
{% block title %}Lista de Productos{% endblock %}
{% block content %}

<table class="table table-bordered">
    <h2 align="center">Ventas</h2>

    <thead>
        <tr>
{#          <td>id</td>#}
            <td>Cliente</td>
            <td>Producto</td>
            <td>Fecha de la Venta</td>


        </tr>
    </thead>
    <tbody>
        {% for venta in object_list %}
                <tr>
    {#              <td>{{producto.id }}</td>#}
                    <td>{{venta.cliente}}</td>
                    <td>{{venta.producto}}</td>
                    <td>{{venta.fecha}}</td>
                </tr>
        {%endfor%}
    </tbody>
</table>

        <a class="btn btn-default" href="{% url 'venta_crear' %}">Cargar una Venta</a>

{% endblock%}