{% extends 'base/base.html' %}

<!-- BOTONES DESHABILITADOS -->
{% block habilitar_buscador %}{% endblock %}


<!-- BOTÓN ACTIVO -->

<!-- ID del proyecto -->


{% block title %}
    Cliente | Eliminar: {{ object.nombre }}
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="container center-block">
        <p> </p>
        <h3>Confirmacion de eliminación</h3>
	    <h4>&nbsp;¿Desea eliminar el user story: {{ object.nombre }} ?</h4>
	    <button class="btn btn-danger" type="submit">Sí, eliminar</button>

        <a class="btn btn-default" href="{% url 'cliente_listar' %}">Cancelar</a>
    </div>
</form>
{% endblock %}
