{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <!-- css y js base-->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- icono de pagina sgp-->
    <link rel="shortcut icon" href= {% static 'icon/aa.png' %} />
    <!-- css y js para calendario-->
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% block extrajs %}
    {% endblock %}
	{% block extrastatic %}
	{% endblock %}
    <title> {% block title %} Sistema Gestor de Proyecto {% endblock %} </title>

<style type="text/css">
    {% block extraestilo %}
    {% endblock %}
</style>

</head>
<body>
    <div class="container" style="width: 100%">
    {% block navbar %}
        <div class="bs-docs-section clearfix">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!--Boton de ventana minimizada-->
                                <div class="navbar-header">
                                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Desplegable" >
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                     </button>
                                    <a class="fas fa-home navbar-brand" href=""> Home</a>
                                </div>
                                <!--Contenido del la barra navegador-->
                                <div class="collapse navbar-collapse" id="Desplegable">
                                    <!-- Menu de Usuarios: Listar, Registrar-->
                                    <ul class="nav navbar-nav">

                                            <li class="dropdown">
                                                <a href="{% url 'cliente_listar' %}">Cliente</a>
                                            </li>

                                    <!-- Menu de Proyecto: Crear, Listar-->
{#                                        <li class="dropdown">#}
{#                                            <a href="{% url 'producto_listar' %}">Productos</a>#}
{#                                        </li>
                                    <!-- Menu de Rol de Sistema: Listar, Registrar-->

                                            <li class="dropdown">
                                                <a href="{% url 'venta_listar' %}">Ventas</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="{% url 'producto_listar' %}">Productos</a>
                                            </li>
                                    <!-- Menu de Roles de Proyecto: Listar, Registrar-->


                                    </ul>
                                    <!-- Menu opciones: Salir -->
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle far fa-user" data-toggle="dropdown" role="button" aria-expanded="false"> {{ request.user }}<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="" style="display: inline;">Salir</a><i class="fas fa-sign-out-alt" style="display: inline;"></i></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block content %}
        <h4>	Bloque de contenido		</h4>
    {% endblock %}
    {% block footer %}
    {% endblock%}
    </div>
</body>
</html>