{% extends 'base/base.html' %}
{% block title %}Lista de Productos{% endblock %}
{% block content %}

<table class="table table-bordered">
    <h2 align="center">Producto</h2>

    <thead>
        <tr>
{#          <td>id</td>#}
            <td>Nombre de Producto</td>
            <td>Camtidad en Stock</td>
            <td>Precio de Compra</td>
            <td>Precio de Venta</td>
            <td>Cantidad Vendida</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        {% for producto in object_list %}
                <tr>
    {#              <td>{{producto.id }}</td>#}
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.stock}}</td>
                    <td>{{ptoducto.precio_compre}}</td>
                    <td>{{producto.precio_venta}}</td>
                    <td>{{producto.cant_vendida}}</td>
                    <td>
                        <a class="btn btn-danger" href="{%  url 'producto_editar' producto.id %}">Modificar</a>
                        <a class="btn btn-default" href="#">Eliminar</a>

                    </td>
                </tr>
        {%endfor%}
    </tbody>
</table>

        <a class="btn btn-default" href="{% url 'producto_crear' %}">Crear Producto</a>

{% endblock%}